/* NavBar.css */

.NavBar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the spacing as needed */
  }
  
  .NavBar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  .NavBar a:hover {
    background-color: #555;
  }
  
  .NavBar a.active {
    background-color: #007BFF; /* Adjust the active link color as needed */
    color: white;
  }
  